$dark-text: #b4afab;
$orange: #f7a059;
$tech-text: 'Share Tech', sans-serif;
$bold-text: 'Roboto', sans-serif;


.second-page {
    position: relative;
    height: 100vh;
    width: 100vw;

    .about-me-container {
        position: relative;
        width: 70vw;
        height: 50vh;
        padding: 10px;
        margin: auto;
        text-align: left;
        top: 10vh;

        .para-cont {
            margin-top: 2em;
        }

        .about-me {
            height: fit-content;
            display: inline;
            font-size: 3em;
            color: white;
            font-family: $bold-text;
            font-weight: 900;
        }

        .about-me::after {
            content: '';
            display: block;
            position: relative;
            top: -5%;
            right: -5em;
            height: 14px;
            width: 140%;
            color: $dark-text;
        }

        .about-para {
            width: 55%;
            height: fit-content;
            position: relative;
            font-size: 1em;
            padding: 0 45px 20px 0;
            color: $dark-text;
            font-family: $bold-text;
            font-weight: 400;

            .boa {
                color: $orange;
            }
        }
        .square {
            height: 75%;
            width: 370px;
            position: absolute;
            right: -1%;
            top: 32%;
            margin: auto;
            border-radius: 10px;
            border-radius: 10px;
            border-color: #f7a059;
            border-style: solid;
            border-width: 10px;
            z-index: 0;
        }

        .photo-place-holder {
            height: 80%;
            width: 400px;
            position: absolute;
            right: 2%;
            top: 25%;
            margin: auto;
            border-radius: 10px;
            background-image: url('../../assets/headshot.png');
            background-size: cover;
            z-index: 20;

            .filter {
                background-color: #f7a0598e;
                transition: opacity 1s ease-in;
                z-index: 1000;
                height: 100%;
                width: 100%;
                border-radius: 10px;
            }
    
            .filter:hover {
                opacity: 0;
            }
        }

        @media only screen and (min-width: 1380px) {
            .about-para {
                font-size: 1.5em;
            }
        }

        @media only screen and (max-width: 600px) {
                width: 80vw;
                margin: 0 30px;
                padding-right: 30px;
            
            .about-me {
                font-size: 2em;
            }

            .para-cont, .about-para {
                width: 100%;
                margin: 0;
                padding: 0;
                font-size: 1.1em;
                line-height: 1.5em;
            }

            .photo-place-holder, .square {
                display: none
            }
        }
    }

    @media only screen and (max-width: 600px) {
        min-height: fit-content;
        margin-bottom: 50px;
    }

    @media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .about-me-container {
        width: 80vw;

        .about-para {
            width: 40%
        }

        .photo-place-holder {
            height: 50%;
            width: 300px;
            top: 30%
        }
    }
}
}